@font-face {
    font-family: 'Norse Bold';
    src: url("./Norse-Bold.otf");
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.left-container{
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner{
    color: white;
    font-family: 'Norse Bold',sans-serif;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 155px;
}



.banner img{
    height: 90px;
}

.attribution{
    display: flex;
    justify-content: center;
    color: white;
    font-size: .9rem;
}

.attribution a{
    text-decoration-color: white;
    color: white;
}


.right-container{
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
}

.intro-container{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 470px;
    font-size: .8rem;
    margin-bottom: 23px;
}


.input-container{
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding-top: 5px;
    height: 265px;
}

#form-intro{
    font-size: 1.2rem;
    margin-left: 50px;
    color: #293240;
    margin-bottom: 25px;
}

.input-content{
    margin-right: 150px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 100px;

}

label{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: .7rem;
    letter-spacing: .1rem;
    margin-bottom: 5px;
    color: #48505c;
}
label,input{
    display: flex;
    flex-direction: column;
}

input{
    width: 250px;
    margin: 0;
    padding: 0;
    height: 25px;
    border-color: #E5E7EB;
    border-style: solid;
    border-radius: 5px;
}

input:focus{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    outline: none;
    border-color: cornflowerblue;
}

.final-container{
    margin-left: 50px;
    margin-top: 35px;
}


#create{
    background-color: #596D48;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-style: none;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size:1rem;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.final-container>p>a{
    color: #596D48;
    text-decoration: none;
    font-weight: bolder;

}
